html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-image: url("/assets/images/transparent.png");
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
    box-shadow: 0px 0px 4px #333;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(163, 200, 255);
    transition: .3s;
}

a:hover {
    color: rgb(122, 200, 255);
}

.navbar {
    padding: 20px;
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.navbar ul .navlink {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 20pt;
}

.navbar ul .navlink div {
    margin-top: 15px;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
    max-width: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    -webkit-transition: max-width .2s ease;
    -moz-transition: max-width .2s ease;
    -ms-transition: max-width .2s ease;
    -o-transition: max-width .2s ease;
    transition: max-width .2s ease;
}

.navbar ul .navlink:hover div {
    max-width: 100%;
    background-image: linear-gradient(to right, rgb(255, 0, 174), rgb(204, 0, 255));
    border-radius: 10px;
}

.page {
    margin-left: 240px;
    height: 100vh;
}

.page-content {
    padding: 20px;
    padding-left: 40px;
}

#home {
    background-color: #f1f1f1;
}

#projects {
    background-color: #999;
}

#about {
    background-color: #ddd;
}

#contact {
    background-color: #bbb;
}



